@import "./../assets/styles/flatfair-theme.scss";

h1 {
    color: $flatfair-color-blue-light;
    margin-bottom: 10px;
    text-align: center;
}

.main {
    padding: 20px 0;

    img {
        display: block;
        margin: 0 auto;
    }
    .wrapper {
        background-color: $flatfair-color-white-light;
        display: block;
        margin: 40px auto;
        max-width: 500px;
        padding: 20px;
        width: 90%;

        -webkit-box-shadow: 10px 10px 0px 0px $flatfair-color-blue-light;
        -moz-box-shadow: 10px 10px 0px 0px $flatfair-color-blue-light;
        box-shadow: 10px 10px 0px 0px $flatfair-color-blue-light;
    }
}