@import "./../assets/styles/flatfair-theme.scss";

h1 {
    color: $flatfair-color-blue-light;
    margin-bottom: 10px;
    text-align: center;
}

.main {
    padding: 20px 0;

    img {
        display: block;
        margin: 0 auto;
    }
    .wrapper {
        background-color: $flatfair-color-white-light;
        border: 3px solid $flatfair-color-blue-light;
        border-radius: 10px;
        display: block;
        margin: 40px auto;
        max-width: 500px;
        padding: 10px 20px;
        width: 90%;
    }
}