<div class="flatbond-create" aria-label="create-flatbond">
  <section *ngIf="loading" class="loading">
    <img src="./../../../../assets/images/spinner.gif">
  </section>

  <section *ngIf="!loading">
    <h2>How much pay for your rent?</h2>
    <form class="flatbond-create-form" [formGroup]="flatbondForm" (ngSubmit)="onSubmit(flatbondForm)">

      <div class="flatbond-create-form_row-amount">
        <label class="flatbond-create-form_row-amount--text">£</label>
        <input class="flatbond-create-form_row-amount--input" type="text" numeric numericType="decimal" formControlName="amount" placeholder="your rent *" />
        <label class="flatbond-create-form_row-amount--text">per</label>
        <select class="flatbond-create-form_row-amount--input" formControlName="recurrence">
          <option value="week">week</option>
          <option value="month">month</option>
        </select>
      </div>

      <div class="flatbond-create-form_row-postcode">
        <label class="flatbond-create-form_row-postcode--text">I live in</label>
        <input class="flatbond-create-form_row-postcode--input" formControlName="postcode" placeholder="postcode *" />
      </div>

      <div class="flatbond-create-form_row-fee">
        <label class="flatbond-create-form_row-fee--text">Your membership fee £</label>
        <input class="flatbond-create-form_row-fee--input" formControlName="membershipFee" placeholder="0" />
      </div>

      <div class="flatbond-create-form_row-message">
        <div class="flatbond-create-form_row-message--text" *ngIf="message">{{ message }}</div>
      </div>

      <div class="flatbond-create-form_row-button">
        <button type="submit" [disabled]="flatbondForm.invalid">Send</button>
      </div>

    </form>
  </section>
</div>
