$flatfair-color-blue-dark: #293E91;
$flatfair-color-blue-light: #6785FF;
$flatfair-color-white-dark: #FBFCFF;
$flatfair-color-white-light: #FFFFFF;
$flatfair-color-gray-light: #E2E8FF;
$flatfair-color-gray-dark: #444444;